# Orion 2 - Hostinger Apache Configuration
# Forca o uso do app.js para todas as requisicoes

<IfModule mod_passenger.c>
    PassengerAppEnv production
    PassengerAppType node
    PassengerStartupFile app.cjs
</IfModule>

RewriteEngine On
RewriteRule ^app\.cjs$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) app.cjs [L]
