# Orion 2 - Hostinger Node.js Configuration (TS-NODE)

<IfModule mod_passenger.c>
    PassengerAppEnv production
    PassengerBaseURI /
    PassengerAppType node
    PassengerStartupFile server.ts
</IfModule>

RewriteEngine On
RewriteRule ^server\.ts$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) server.ts [L]
